@mixin debug-container{
 
.debug .CONTAINER{
    --data-label: var(attr(data-label, ''));
    --grid-area: var(attr(grid-area, ''));
    --grid-template: var(attr(grid-template, ''));

    position: relative;
    outline: 1px dashed var(--highlight, #e300c1);
    &:before{
        content: 'Container: Generic';
        color: var(--highlight, #e300c1);
        font-family: var(--font-mono);
        position: absolute;
        inset:3px;
        font-size: 10px;
    }
    &[data-label]:before, &[grid-area]:before, &[dgrid-template]:before{
        content: 'Container: ' var(--data-label) ' ' var(--grid-area) ' ' var(--grid-template) ;
    }
}   
}

@mixin grid-container{
 
    .debug .grid{
        --data-label: var(attr(data-label, ''));
        --grid-area: var(attr(grid-area, ''));
        --grid-template: var(attr(grid-template, ''));
    
        position: relative;
        outline: 1px dashed var(--accent, #00e3c1);
        &:before{
            content: 'Container: Generic';
            color: var(--accent, #00e3c1);
            font-family: var(--font-mono);
            position: absolute;
            inset:3px;
            font-size: 10px;
        }
        & [data-label]:before, & [grid-area]:before, &[dgrid-template]:before{
            content: 'Container: ' var(--data-label) ' ' var(--grid-area) ' ' var(--grid-template) ;
        }
    }   
    }