@mixin disabled {
.disabled {
    filter: grayscale(90%) contrast(60%) brightness(150%);
opacity: .5;
    .disabled{
      opacity:1;
    }
  }
  .disabled .disabled-dark {
    filter: grayscale(100%) contrast(60%) brightness(50%);
  } 
}
