%ul_inline,
.ul_inline-comma,
.ul_inline-semicolon,
.ul_inline-pipe{
    padding: 0 !important;
    margin: 0 !important;
    display:  inline-flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    list-style: none !important;
    & > li {
        flex: 0 1 auto;
        margin:0 !important;
        &:not(:last-child)::after{
          padding-inline-end: .5em;
          padding-inline-start: 0;
          opacity: .6;
          margin:0;
        }
    }
    li.no-after{padding-inline-end: .5em;}
    li.no-after::after{
      display:none;
      
    }
}
.ul_inline-comma > li:not(:last-child)::after {
    content: ",";
}

.ul_inline-semicolon > li:not(:last-child)::after {
  content: ";";
}
.ul_inline-pipe > li:not(:last-child)::after {
  content: "|";
  padding-inline-start:.5em;

}