@mixin soft-reset {
    // reset the weirdness with flex and grid
    *{
        min-width: 0;
        min-height: 0;
    }
    .CONTAINER {
        contain: layout inline-size style;
        container-type: inline-size;
      }
      .overflow_hidden {
        text-overflow: ellipsis;
    }
}