// Footer of the card. This is the circle button for play
.button-ripple {
	.button-edge {
		position: relative;
		width: 2em;
		height: 2em;
		padding: 0.2em;
	}
	.button {
		width: 1.6em;
		height: 1.6em;
		padding: 0.2em;
	}
}