@mixin page-wrapper{
// Grid Templates
// .grid-template_page .label{ width: 0%; overflow:hidden;}
.page-wrapper{
	--app-spacing: .2rem;
	@media screen and (min-width: 45rem) {
		--app-spacing: .5rem;
	}
	@media screen and (min-width: 64rem) {
		--app-spacing: .75rem;
	}
	@media screen and (min-width: 90rem) {
		--app-spacing: 1rem;
	}
	@media screen and (min-width: 120rem) {
		--app-spacing: 1.5rem;
	}
	margin:var(--app-spacing);
}

}
@mixin app-frame{

	[grid-template="app-frame"] {
		--app-spacing: var(--app-spacing: .2rem);
		--primary-menu-width:5.5rem;
		display:grid;
		transition: grid-template-columns 1s;
		grid-template-columns: [app-start app-menu-start] var(--primary-menu-width) [app-menu-end app-page-start]  calc(100% - var(--primary-menu-width)) [app-page-end app-end];
		grid-template-rows: [app-start menu-mobile-start] auto [menu-mobile-end app-menu-start breadcrumb-start] auto [breadcrumb-end main-area-start app-page-start] auto [main-area-end footer-area] auto [footer-area app-page-end app-menu-end app-end];
		min-height: calc(100vh - (2 * clamp(8px, 1vw, 16px)));
		max-width: calc(100vw - var(--app-spacing) * 2);
		
	}
	[grid-template="app-frame"].expanded {
		--primary-menu-width_expanded:15rem;
		transition: grid-template-columns 1s;
		grid-template-columns: [app-start app-menu-start] var(--primary-menu-width_expanded)  [app-menu-end app-page-start]  calc(100% - var(--primary-menu-width_expanded)) [app-page-end app-end];
		grid-template-rows: [app-start menu-mobile-start ] auto [menu-mobile-end breadcrumb-start app-menu-start] auto [breadcrumb-end main-area-start app-page-start ] auto [main-area-end footer-area] auto [footer-area app-menu-end app-page-end app-end app-menu-start];
		max-width: calc(100vw - var(--app-spacing) * 2);
	}
	
	[grid-area='app-menu'] {
		grid-area: app-menu;
	}
	[grid-area='app-page'] {
		grid-area: app-page;
	}
	[grid-area='app-breadcrumb'] {
		grid-column: app-page;
		grid-row: breadcrumb;
	}
	[grid-area='app-footer'] {
		grid-column: app-page;
		grid-row: footer;
	}
	[grid-area='app-main-area'] {
		grid-column: app-page;
		grid-row: main-area;
	}
	[grid-area='mobile-menu'] {
		grid-column: app;
		grid-row: mobile-menu;
	}
}
@mixin breadcrumb-bar{
	[grid-template="breadcrumb"]{
		display:grid;
		grid-template-columns:[toggle-start] 1px [toggle-end back-btn-start] 3rem [back-btn-end breakcrumb-list-start] 1fr [breakcrumb-list-end];
		grid-template-rows: [breadcrumb-start] auto [breakcrumb-end];
		@media screen and (min-width: 45rem) {
			grid-template-columns:[toggle-start] 1px [toggle-endback-btn-start] 7rem [back-btn-end breakcrumb-list-start] 1fr [breakcrumb-list-end];
		}
	}
	[grid-template="breadcrumb"] [grid-area="toggle"] {
		grid-row: breadcrumb;
		grid-column: toggle;
	}
	[grid-template="breadcrumb"] [grid-area="back-btn"] {
		grid-row: breadcrumb;
		grid-column: back-btn;
	}
	[grid-template="breadcrumb"] [grid-area="breadcrumb-list"]  {
		grid-row: breakcrumb;
		grid-column: breakcrumb-list;
	}
}
@mixin app-page{
	[grid-template='app-page']{
		display:grid;
		grid-template-rows:[header-start]auto[header-end pimary-content-start]auto[pimary-content-end secondary-content-start]auto[secondary-content-end footer-start]auto[footer-end]
	}	
	[grid-area='header'] {
		grid-row: header;
	}
	[grid-area='primary-content'] {
		grid-row: primary-content;
	}
	[grid-area='secondary-content'] {
		grid-row: secondary-content;
	}
	[grid-area='footer'] {
		grid-row: footer;
	}
}