@mixin page-wrapper{
// Grid Templates
// .grid-template_page .label{ width: 0%; overflow:hidden;}
.page-wrapper{
	--app-spacing: .2rem;
	@media screen and (min-width: 45rem) {
		--app-spacing: .5rem;
	}
	@media screen and (min-width: 64rem) {
		--app-spacing: .75rem;
	}
	@media screen and (min-width: 90rem) {
		--app-spacing: 1rem;
	}
	@media screen and (min-width: 120rem) {
		--app-spacing: 1.5rem;
	}
	margin:var(--app-spacing);
}

}
@mixin app-frame{
	[grid-template="app-frame"] {
		transition: grid-template-columns 1s;
		grid-template-columns: [menu-area-start] 5.5rem [menu-area-end app-area-start] calc(100% - 5.5rem) [app-area-end];
		grid-template-rows: [menu-area-start breadcrumb-bar-start] auto [breadcrumb-bar-end page-area-start] auto [page-area-end footer-area] auto [footer-area menu-area-end];
		min-height: calc(100vh - (2 * clamp(8px, 1vw, 16px)));
		max-width: calc(100vw - var(--app-spacing) * 2);
		
	}
	[grid-template="app-frame"].expanded {
		transition: grid-template-columns 1s;
		grid-template-columns: [menu-area-start] var(--expanded_sideMenu-width, 15rem)  [menu-area-end app-area-start]  calc(100% - var(--expanded_sideMenu-width, 15rem)) [app-area-end];
		grid-template-rows: [menu-area-start breadcrumb-start] auto [breadcrumb-end page-area-start] auto [page-area-end footer-area] auto [footer-area menu-area-end];
		max-width: calc(100vw - var(--app-spacing) * 2);
	}

	[grid-template="app-frame"] [grid-area='menu-area'] {
		grid-area: menuArea;
	}
	[grid-template="app-frame"] [grid-area='page-area'] {
		grid-area: menuArea;
	}
}
@mixin breadcrumb-bar{
	[grid-area="breadcrumb-bar"] {
		grid-area: breadcrumb-bar;
	}
	[grid-template="breadcrumb"]{
		display:grid;
		grid-template-columns:[button-area-start] 3rem [button-area-end list-area-start] 1fr [list-area-end];
		grid-template-rows: [button-area-start list-area-start] auto [button-area-end list-area-end];
		@media screen and (min-width: 45rem) {
			grid-template-columns: [button-area-start] 7rem [button-area-end list-area-start] 1fr [list-area-end];
		}
	}
	[grid-template="breadcrumb"] [grid-area="button-area"] {
		grid-row: button-area;
		grid-column: button-area;
	}
	[grid-template="breadcrumb"] [grid-area="button-area"]  {
		grid-area: breadcrumbListArea;
	}
}
@mixin app-page{
	[grid-template="page-area"] {
		display: grid;
		grid-template-rows: [header-start] auto [header-end main-content-start ] auto [ main-content-end content-aside-start ] auto [content-aside-end ]

	}
	[grid-template="page-area"] [grid-area="header"] {
		grid-row: header;
	}
	[grid-template="page-area"] [grid-area="main-content"]{
		grid-row: main-content;
	}
	[grid-template="page-area"] [grid-area="content-aside"]{
		grid-row: content-aside;
	}
}