$custom-colors: (
  color_1: #432344, // Purple
  color_2: #34568B, // Dark Blue
  color_3: #6B5B95, // Dark Violet
  color_4: #88B04B, // Olive Green
  color_5: #CE5A57, // Dark Red
  color_6: #5A7247, // Forest Green
  color_7: #935529, // Brown Dark
);

@function hsl-value($color, $component) {
  @if ($component == 'hue') {
    @return hue($color);
  } @else if ($component == 'saturation') {
    @return saturation($color);
  } @else if ($component == 'lightness') {
    @return lightness($color);
  }
}

:root {
  @each $name, $color in $custom-colors {
    --#{$name}-h: #{hsl-value($color, 'hue')}deg;
    --#{$name}-s: #{hsl-value($color, 'saturation')};
    --#{$name}-l: #{hsl-value($color, 'lightness')};
  }
}

@each $name, $color in $custom-colors {
  $index: index(map-keys($custom-colors), $name);

  .bg_color-#{$index} {
    background-color: hsla(var(--#{$name}-h), var(--#{$name}-s), var(--#{$name}-l), 1);
  }

  .c_color-#{$index} {
    color: hsla(var(--#{$name}-h), var(--#{$name}-s), var(--#{$name}-l), 1);
  }

  .br_color-#{$index} {
    border-color: hsla(var(--#{$name}-h), var(--#{$name}-s), var(--#{$name}-l), 1);
  }
}