//globally importing the modular scale to make development easier;
@use "sass:map";
@use "base";
@use "maps";
@use "renderCSSFromMap" as renderMap;


[class*="br"]{
  border-width: 0px;
}

@include renderMap.renderCSSFromMap(maps.$css-properties);
// Each CSS Utility Class
// If it is responsive. If it is loop through breakpoints
// If it has pseudo states. If it is loop through states
// If it has direction modifiers. If it is loop through directions.
// If color loop through color loop
// else loop through units
// End loops
// End Each
:root{
  --bg_texture-dark: url(../img/dark-honeycomb.png);
  --bg_texture-light: url(../img/worn_dots.png);
}
.flex_auto{
  @extend .flex-grow_1; 
  @extend .flex-shrink_1;
}
.ul_none{
  @extend .m_0 !optional;
  @extend .p_0 !optional;
}
.bg_texture-dark{
 background-image: var( --bg_texture-light, none );
}

@debug ('build complete');
