//globally importing the modular scale to make development easier;
@use "sass:map";
@use "maps";
@use "_renderCSSVariableFromMap.scss" as rootVariables;
@use "renderCSSFromMap" as renderMap;
@use "base";
@include base.form-decorators();
@include base.link-decorators();
@include base.reading-typography();
@include rootVariables.renderCSSVariablesFromMap(maps.$css-properties);

// setting the default of border width to 0 so it doesn't interfere with the border width and utility classes.
[class*="br"]{
  border-width: 0px;
}


@include renderMap.renderCSSFromMap(maps.$css-properties);
// Each CSS Utility Class
// If it is responsive. If it is loop through breakpoints
// If it has pseudo states. If it is loop through states
// If it has direction modifiers. If it is loop through directions.
// If color loop through color loop
// else loop through units
// End loops
// End Each

 
//  Adding helper classes for the utility classes. 




.flex_auto{
  @extend .flex-grow_1; 
  @extend .flex-shrink_1;
}
.ul_none{
  @extend .m_0 !optional;
  @extend .p_0 !optional;
}

.disabled {
  opacity:.5;
  color: hsl(var(--black-h), var(--black-s), 80%) !important;
  border-color: hsl(var(--black-h), var(--black-s), 50%) !important;
  cursor:not-allowed;
  &[class*="bg"]{
    background-color: hsl(var(--black-h), var(--black-s), 60%) !important;
  }
  .disabled{
    opacity:1;
  }
}


@debug ('build complete');
